
body { 
  background-image: url(../jeremy-thomas-99326-unsplash.jpg);
  background-size:cover; 

}


@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
  body.colorful {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}
#square {
    margin left: 200px;
    background: orange;
    width: 100px;
    height: 100px;
    margin: 20px;
    
    transition: all 500ms ease;
}

.rounded {
  left: 200px;
  border-radius: 50px;
}
  #container {
    margin: 0 auto;
  	max-width: 400px;
    color: yellow;-webkit-font-smoothing: antialiased;
    font-family: 'Lobster', cursive;
    font: 32px Raleway, sans-serif;
    text-shadow: 2px 2px yellow;
  }
center-me {
    margin: 0 auto;
  * {
    margin: 0px;
    padding: 0px;
}
	#container {margin: 0 auto;
  	max-width: 650px;
  		/* I put "max-width" rather than "width" because
    		 if the screen width is less than 650px, it will shrink accordingly. */
    		}
h1 {
  /* here I'm making the title not bold (by default headings are always bold)
     centered, larger, tighter leading, and with some bottom space or margin */
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 2em;
}
 

