body {
  background: violet;
  font-family: 'Lobster', cursive;
}

	#container {margin: 0 auto;
  	max-width: 650px;
  		/* I put "max-width" rather than "width" because
    		 if the screen width is less than 650px, it will shrink accordingly. */
    		}
  img {max-width: 100%;
  }

#toc {
  position: fixed;
  top: 1em;
  left: 1em;
  /* When you make something position: fixed,
     you need to tell it where to be fixed to.
     This means it will be 1em (22px) away from both the top and the left sides.
     You could also use "bottom" or "right" here. */
}
#toc {
  position: fixed;
  top: 1em;
  left: 1em;
  /* a background color might help it be differentiated from the rest */
  background: white;
  /* that means you'll have to change the color of the text */
  color: #587E20;
  /* some padding might make it look better */
  padding: 1em;
  /* maybe making the font size here smaller will help too */
  font-size: 0.7em;
}

    a {
      color: yellow;
      text-decoration: none;
      /* By default, links are blue and have an underline.
         The above CSS changes both those things. */
    }
    
    a:hover {
      color: white;
    }

#toc a {
  color: #587E20;
  text-decoration: none;
}

#toc a:hover {
  color: black;
}
#toc ul {
  padding: 0;
  list-style-type: none;
  /* you could also change the type of bullet with the above declaration! */
}
figure {
  margin: 0;
}
figcaption {
  font-size: 0.7em;
}
    .highlight {
      background: yellow;
      color: #587E20;
      /* or pick a different color */
    }


h1 {
  /* here I'm making the title not bold (by default headings are always bold)
     centered, larger, tighter leading, and with some bottom space or margin */
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 2em;
}

h2 {
  /* here I'm making my section headers very clear with a white background.
     added some padding and removed the default bold again, and
     added some top margin */
  background: white;
  padding: 0.5em;
  font-weight: normal;
  color: #587E20;
  margin-top: 2em;
}

img.profile {
  max-width: 150px;
}
<div id="container">
	#container {margin: 0 auto;
  	max-width: 650px;
  		/* I put "max-width" rather than "width" because
    		 if the screen width is less than 650px, it will shrink accordingly. */
    		}
  img {max-width: 100%;
}


#toc {
  position: fixed;
  top: 1em;
  left: 1em;
  /* When you make something position: fixed,
     you need to tell it where to be fixed to.
     This means it will be 1em (22px) away from both the top and the left sides.
     You could also use "bottom" or "right" here. */
}
#toc {
  position: fixed;
  top: 1em;
  left: 1em;
  /* a background color might help it be differentiated from the rest */
  background: white;
  /* that means you'll have to change the color of the text */
  color: #587E20;
  /* some padding might make it look better */
  padding: 1em;
  /* maybe making the font size here smaller will help too */
  font-size: 0.7em;
}

    a {
      color: yellow;
      text-decoration: none;
      /* By default, links are blue and have an underline.
         The above CSS changes both those things. */
    }
    
    a:hover {
      color: white;
    }

#toc a {
  color: #587E20;
  text-decoration: none;
}

#toc a:hover {
  color: black;
}
#toc ul {
  padding: 0;
  list-style-type: none;
  /* you could also change the type of bullet with the above declaration! */
}
figure {
  margin: 0;
}
figcaption {
  font-size: 0.7em;
}
    .highlight {
      background: yellow;
      color: #587E20;
      /* or pick a different color */
    }


h1 {
  /* here I'm making the title not bold (by default headings are always bold)
     centered, larger, tighter leading, and with some bottom space or margin */
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 2em;
}

h2 {
  /* here I'm making my section headers very clear with a white background.
     added some padding and removed the default bold again, and
     added some top margin */
  background: white;
  padding: 0.5em;
  font-weight: normal;
  color: #587E20;
  margin-top: 2em;
}
img.profile {
  max-width: 150px;
}
